{
  "extends": [
    "wesbos"
  ],
  "rules":{
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }

    ],
    "react/jsx-props-no-spreading": false
  } ,
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}