{
    "extends": ["wesbos"],
    "rules": {
        "jsx-a11y/label-has-associated-control": [
            "error",
            {
                "required": {
                    "some": ["nesting", "id"]
                }
            }
        ],
        "react/jsx-props-no-spreading": 0
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
